<!DOCTYPE html>
<html lang="es">
<head>
  <!-- FICHA DISPONIBLE -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha God of War 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <!-- BARRA NAVEGACION -->
    <div id="menu"></div>

    <h1 style="text-align: center;">Ficha</h1>

    <!-- CUERPO DE LA FICHA -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="img/unnamed.jpg" alt="">
            </div>
            <div class="col-md-8">
                <h2>God of War 2</h2>
                <h4 class="disponible_text">DISPONIBLE EN BODEGA</h4>
                <p>Precio: <del>$4800</del></p>
                <p>Oferta: $4000</p>
                <p>Suscrito :$1700</p>
                <b><p>Descripcion</p></b>
                <p>God of War II es un videojuego de acción-aventura desarrollado por Santa Monica Studio y publicado por 
                    Sony Computer Entertainment (SCE). Lanzado por primera vez para la consola PlayStation 2 el 13 de marzo 
                    de 2007
                </p>
                <p>Stock: 3 claves</p>
                <button type="button" class="btn btn-primary">Comprar</button>
                <button type="button" class="btn btn-secondary">Agregar al carrito</button>
            </div>
        </div>
    </div>

    <footer>
        <p>WhatsApp +569 2314 2413 <a href="">Facebook</a>
        <a href="">Instagram</a> Dirección: Moneda 627, Santiago</p>
      </footer>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>