<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Compras</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="menu"></div>

  <h1>Mis compras anteriores</h1>

  <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="d-none d-block d-lg-table-cell">Nro boleta</th>
            <th scope="col">Fecha venta</th>
            <th scope="col">Fecha despacho</th>
            <th scope="col" class="d-none d-block d-lg-table-cell">Fecha entrega</th>
            <th scope="col" class="d-none d-block d-lg-table-cell">Monto total</th>
            <th scope="col" class="d-none d-block d-lg-table-cell">Estado actual</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="d-none d-block d-lg-table-cell">236</td>
            <td>1/2/2021</td>
            <td>1/2/2021</td>
            <td class="d-none d-block d-lg-table-cell">2/2/2021</td>
            <td class="d-none d-block d-lg-table-cell">$5000</td>
            <td class="d-none d-block d-lg-table-cell">Entregado</td>
            <td><a href="boleta.html">ver detalle</a></td>
        </tr>
        <tr>
            <td class="d-none d-block d-lg-table-cell">237</td>
            <td>3/4/2024</td>
            <td>4/4/2024</td>
            <td class="d-none d-block d-lg-table-cell">5/4/2024</td>
            <td class="d-none d-block d-lg-table-cell">$6200</td>
            <td class="d-none d-block d-lg-table-cell">En camino</td>
            <td><a href="boleta.html">ver detalle</a></td>
        </tr>
        <tr>
            <td class="d-none d-block d-lg-table-cell">238</td>
            <td>5/4/2024</td>
            <td>6/4/2024</td>
            <td class="d-none d-block d-lg-table-cell">7/4/2024</td>
            <td class="d-none d-block d-lg-table-cell">$4300</td>
            <td class="d-none d-block d-lg-table-cell">Entregado</td>
            <td><a href="boleta.html">ver detalle</a></td>
        </tr>
        <tr>
            <td class="d-none d-block d-lg-table-cell">239</td>
            <td>7/4/2024</td>
            <td>8/4/2024</td>
            <td class="d-none d-block d-lg-table-cell">9/4/2024</td>
            <td class="d-none d-block d-lg-table-cell">$3800</td>
            <td class="d-none d-block d-lg-table-cell">Pendiente</td>
            <td><a href="boleta.html">ver detalle</a></td>
        </tr>
        <tr>
            <td class="d-none d-block d-lg-table-cell">240</td>
            <td>10/4/2024</td>
            <td>11/4/2024</td>
            <td class="d-none d-block d-lg-table-cell">12/4/2024</td>
            <td class="d-none d-block d-lg-table-cell">$7500</td>
            <td class="d-none d-block d-lg-table-cell">Entregado</td>
            <td><a href="boleta.html">ver detalle</a></td>
        </tr>


    </tbody>
</table>
<footer>
    <p>WhatsApp +569 2314 2413 <a href="">Facebook</a>
    <a href="">Instagram</a> Dirección: Moneda 627, Santiago</p>
  </footer>
  <script src="js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>