<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Nosotros</title>

</head>
<body>

    <div id="menu"></div>

    <h1>Nosotros</h1>
<div class="container">
    <div class="emprendedores-description">
        <h2>Joaquín Herrera y Roberto Bustos: Los Creadores Apasionados detrás de nuestra Tienda de Videojuegos</h2>
        <p>En el vibrante mundo de los videojuegos, hay figuras destacadas cuyo talento y dedicación han dejado una marca indeleble en la industria. Dos de esas figuras son Joaquín Herrera y Roberto Bustos, un dúo dinámico de emprendedores que han llevado su amor por los videojuegos a nuevas alturas.</p>
    
        <p>Joaquín y Roberto se conocieron mientras estudiaban ingeniería en sistemas y descubrieron rápidamente su pasión compartida por los videojuegos. Con el tiempo, esta pasión no solo los unió como amigos, sino que también los inspiró a convertirla en su profesión.</p>
    
        <p>Tras años de planificación, investigación y arduo trabajo, Joaquín y Roberto fundaron nuestra tienda de videojuegos con el objetivo de proporcionar a los jugadores una experiencia única y emocionante. Su visión era crear un lugar donde los aficionados pudieran no solo comprar los últimos títulos, sino también sumergirse en la cultura y la comunidad de los videojuegos.</p>
    
        <p>Lo que distingue a Joaquín y Roberto como emprendedores es su enfoque innovador y su compromiso con la excelencia. No se conforman con lo ordinario; están constantemente buscando nuevas formas de mejorar y sorprender a sus clientes. Desde la selección cuidadosamente curada de juegos hasta la atención al cliente excepcional, cada aspecto de nuestra tienda lleva su sello distintivo de calidad y pasión.</p>
    
        <p>Pero más allá de su éxito empresarial, Joaquín y Roberto siguen siendo verdaderos jugadores en el corazón. Se enorgullecen de compartir su entusiasmo por los videojuegos con la comunidad y están siempre dispuestos a participar en eventos, torneos y actividades que celebran esta forma de arte única.</p>
    
        <p>En resumen, Joaquín Herrera y Roberto Bustos son más que solo empresarios; son visionarios que han convertido su amor por los videojuegos en una empresa exitosa que continúa inspirando a jugadores de todas partes. Su dedicación, creatividad y pasión son la fuerza impulsora detrás de nuestra tienda de videojuegos y estamos orgullosos de contar con ellos como parte de nuestra historia.</p>
    </div>
    <div class="row m-5">
        <div class="card" style="width: 18rem;">
            <img src="img/roberto.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Roberto Bustos</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="mailto:rob.bustos@duocuc.cl">rob.bustos@duocuc.cl</a>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card" style="width: 18rem;">
            <img src="img/joaquin.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Joaquin Herrera</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="mailto:jo.herrerarojas@duocuc.cl">jo.herrerarojas@duocuc.cl</a>
            </div>
        </div>
        </div>
    </div>
</div>
        <footer>
            <p>WhatsApp +569 2314 2413 <a href="">Facebook</a>
            <a href="">Instagram</a> Dirección: Moneda 627, Santiago</p>
        </footer>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>